.logo-container {
  z-index: 0;
  width: 400px;
  height: 609px;
  position: absolute;
  top: 0;
  right: 15%;
  bottom: 0;
  left: auto;
  margin: auto;

  svg {
    width: 100%;
    height: auto;
    bottom: 0;
    transform: rotateZ(30deg) !important;
  }

  .solid-logo {
    position: absolute;
    top: auto;
    right: auto;
    bottom: auto;
    left: 0;
    margin: auto;
    width: 100%;
    opacity: 0;
    transform: rotateZ(30deg) !important;
    z-index: 1;
  }
}

.svg-container {
  stroke: #FDB160;
  stroke-width: 10;
}

#outlineLogoRef {
  animation: outlineLogoRef 17s ease forwards;
}

@keyframes outlineLogoRef {
  from {
    stroke-dasharray: 100000;
    stroke-dashoffset: 100000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

#bgRef {
  animation: bgRef 1s;
}

@keyframes bgRef {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#solidLogoRef {
  animation: solidLogoRef 8s ease forwards;
}

@keyframes solidLogoRef {
  30% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
